* {
  font-family: Helvetica;
  font-size: 12px;
  background-color: rgb(236, 238, 241);
  color: rgb(97, 96, 96);
}

.flex-content {
  display: flex;
}

header {
  display: flex;
  justify-content: flex-end;
}

#header-element {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-right: 10px;
}

.small-text {
  color: rgb(80, 80, 80);
}

.special-text {
  color: rgb(0, 119, 197);
  margin-top: 3px;
}

#sign-in {
  width: 110px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
  background-color: rgb(0, 119, 197);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 15px;
  color: white;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  padding-left: 25px;
}

main {
  margin-top: 20px;
}

.intuit-logo {
  display: block;
  margin: auto;
}

.intuit-logos {
  display: flex;
  justify-content: center;
}

.icon-text {
  color: rgb(97, 96, 96);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  font-size: 18px;
}

.intuit-icon {
  width: 23px;
}

form {
  background-color: white;
  border: 1px solid lightgray;
  width: 400px;
  margin: auto;
  margin-top: 15px;
}

ul {
  list-style: none;
  list-style-position: inside;
  background-color: white;
}

li {
  background-color: white;
  text-align: center;
  margin-right: 40px;
}

.list-head {
  font-size: 23px;
  color: rgb(79, 78, 78);
  margin-bottom: 15px;
}

.list-element {
  font-size: 14px;
}

.list-link {
  text-decoration: none;
  color: rgb(0, 119, 197);
  background-color: white;
  font-size: 13px;
  margin-bottom: 15px
}

